apiVersion: kops.k8s.io/v1alpha2
kind: Cluster
metadata:
  creationTimestamp: null
  name: {{.CLUSTER_NAME}}.{{.DNS_ZONE}}
spec:
  cloudLabels:
    silentmode:environment: {{.SILENTMODE_ENVIRONMENT}}
    silentmode:owner: {{.SILENTMODE_OWNER}}
    silentmode:service: {{.SILENTMODE_SERVICE}}
  awsLoadBalancerController:
    enabled: true
  certManager:
    enabled: true
  api:
    loadBalancer:
      class: Network
      type: Public
  authorization:
    rbac: {}
  channel: stable
  cloudProvider: aws
  configBase: s3://{{.STATE_MANAGER}}/{{.CLUSTER_NAME}}.{{.DNS_ZONE}}
  etcdClusters:
  - cpuRequest: 200m
    etcdMembers:
    - encryptedVolume: true
      instanceGroup: control-plane-ap-southeast-1a-1
      name: a-1
    - encryptedVolume: true
      instanceGroup: control-plane-ap-southeast-1b-1
      name: b-1
    - encryptedVolume: true
      instanceGroup: control-plane-ap-southeast-1c-1
      name: c-1
    manager:
      backupRetentionDays: 90
    memoryRequest: 100Mi
    name: main
  - cpuRequest: 100m
    etcdMembers:
    - encryptedVolume: true
      instanceGroup: control-plane-ap-southeast-1a-1
      name: a-1
    - encryptedVolume: true
      instanceGroup: control-plane-ap-southeast-1b-1
      name: b-1
    - encryptedVolume: true
      instanceGroup: control-plane-ap-southeast-1c-1
      name: c-1
    manager:
      backupRetentionDays: 90
    memoryRequest: 100Mi
    name: events
  iam:
    allowContainerRegistry: true
    legacy: false
  kubeProxy:
    enabled: false
  kubelet:
    anonymousAuth: false
  kubernetesApiAccess:
  - 0.0.0.0/0
  - ::/0
  kubernetesVersion: 1.29.6
  networkCIDR: 172.20.0.0/16
  networking:
    cilium:
      enableNodePort: true
  nonMasqueradeCIDR: 100.64.0.0/10
  sshAccess:
  - 0.0.0.0/0
  - ::/0
  subnets:
  - name: ap-southeast-1a
    type: Public
    zone: ap-southeast-1a
  - name: ap-southeast-1b
    type: Public
    zone: ap-southeast-1b
  - name: ap-southeast-1c
    type: Public
    zone: ap-southeast-1c

  topology:
    dns:
      type: None

---

apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: null
  labels:
    kops.k8s.io/cluster: {{.CLUSTER_NAME}}.{{.DNS_ZONE}}
  name: control-plane-ap-southeast-1a-1
spec:
  image: 099720109477/ubuntu/images/hvm-ssd/ubuntu-jammy-22.04-amd64-server-20240607
  machineType: t2.medium
  maxSize: 1
  minSize: 1
  role: Master
  subnets:
  - ap-southeast-1a

---

apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: null
  labels:
    kops.k8s.io/cluster: {{.CLUSTER_NAME}}.{{.DNS_ZONE}}
  name: control-plane-ap-southeast-1b-1
spec:
  image: 099720109477/ubuntu/images/hvm-ssd/ubuntu-jammy-22.04-amd64-server-20240607
  machineType: t2.medium
  maxSize: 1
  minSize: 1
  role: Master
  subnets:
  - ap-southeast-1b

---

apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: null
  labels:
    kops.k8s.io/cluster: {{.CLUSTER_NAME}}.{{.DNS_ZONE}}
  name: control-plane-ap-southeast-1c-1
spec:
  image: 099720109477/ubuntu/images/hvm-ssd/ubuntu-jammy-22.04-amd64-server-20240607
  machineType: t2.medium
  maxSize: 1
  minSize: 1
  role: Master
  subnets:
  - ap-southeast-1c

---

apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: null
  labels:
    kops.k8s.io/cluster: {{.CLUSTER_NAME}}.{{.DNS_ZONE}}
  name: nodes-ap-southeast-1a
spec:
  nodeLabels:
    nodeType: misc
  image: 099720109477/ubuntu/images/hvm-ssd/ubuntu-jammy-22.04-amd64-server-20240607
  machineType: t2.medium
  maxSize: 5
  minSize: 5
  role: Node
  subnets:
  - ap-southeast-1a

---

apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: null
  labels:
    kops.k8s.io/cluster: {{.CLUSTER_NAME}}.{{.DNS_ZONE}}
  name: nodes-opensearch-ap-southeast-1a
spec:
  nodeLabels:
    nodeType: opensearch
  image: 099720109477/ubuntu/images/hvm-ssd/ubuntu-jammy-22.04-amd64-server-20240607
  machineType: t3.medium
  maxSize: 3
  minSize: 3
  role: Node
  subnets:
  - ap-southeast-1a

---


apiVersion: kops.k8s.io/v1alpha2
kind: SSHCredential
metadata:
  creationTimestamp: null
  labels:
    kops.k8s.io/cluster: {{.CLUSTER_NAME}}.{{.DNS_ZONE}}
  name: admin
spec:
  publicKey: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCTFO/YQ77KnJFu3G2NzUYy9mbOv9DfMXdMGQl/5u1q9DuHezQmN79Y4A8i1lA8vNFw/RHI4A8FFQey9PHsCCZtutkW0rT+ztRqUj35WlbIsFRVMdNINiHJcqEmZugt1A5cT362GP+KpvOIpZVr9vZmmMuHWbg5Gnvs/SY91+9in2SxYC6HPjIb/CkNJ0scbP8WzHhFK1njh4p1fdqmc1GBCvTVGX5rUs982zUEyIzkLhEjVGIqQWGo7LK+Q8H2iDBKFRQJIvzWDweSuTfOF5UuYA+rMLwAVrina3yjctvTTQuXKkFHK6p4GlP2ODfPbdTHXbwH3bxoFURr1njoUvn/
